/* Resets de estilos*/
/* Elemento raíz */
:root {
    --font-family-base: 'Roboto', sans-serif;
    --font-family-alt: 'JetBrains Mono', monospace;
}

html {
    font-size: 16px;  
}

@media screen and ( max-width: 400px ) {
    html {
        font-size: 13px;
    }
}
/* Body */
body {
    font-family: var(--font-family-base);
    font-size: 1rem;
    line-height: 1.5;
}
/* Estilos tipográficos */
h1,
h2,
h3,
h4 {
    font-family: var(--font-family-alt);
    font-weight: 600;
}
h1 {
    font-size: 2rem;
}
address {
    color: tomato;
}
/* Container */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/* Cabecera */
.site-navigation {
    display: flex;
    justify-content: space-evenly;
}
.site-navigation a {
    text-decoration: none;
    padding: .5rem 2rem;
    background-color: aqua;
}
.site-navigation a:hover{
    text-decoration: underline;
}