/* Resets de estilos*/
/* Elemento raíz */
:root {
    --font-family-base: 'Roboto', sans-serif;
    --font-family-alt: 'JetBrains Mono', monospace;
}

html {
    font-size: 16px;  
}

@media screen and ( max-width: 400px ) {
    html {
        font-size: 13px;
    }
}
/* Body */
body {
    font-family: var(--font-family-base);
    font-size: 1rem;
    line-height: 1.5;
}
/* Estilos tipográficos */
h1,
h2,
h3,
h4 {
    font-family: var(--font-family-alt);
    font-weight: 600;
}
h1 {
    font-size: 2rem;
}
address {
    color: tomato;
}
/* Container */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/* Cabecera */
.site-navigation {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
}
.site-navigation a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    padding: .5rem 2rem;
    /* background-color: aqua; */
}
.site-navigation a.current {
    text-decoration: underline;
    color: black
}
.site-navigation a:hover {
    text-decoration: underline;
    color: black
}
/* Main */
.cards--grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap: 20px;
  }
  * {
    box-sizing: border-box;
  }
  .card {
    padding: 2rem;
    line-height: 1.25;
    background-color: #eaeaea;
    border-radius: 1rem;
  }
  .card__title {
    margin-bottom: 1rem;
  }
  .card__description {
    margin-bottom: 2rem;
  }
  .card__link {
    margin-bottom: .5rem;
  }
  
  